<header class="header-4">
  <div class="branding">
    <a href="javascript://">
      <clr-icon shape="piggy-bank" class="is-inverse"></clr-icon>
      <span class="title">Leilão</span>
    </a>
  </div>
  <div class="header-actions" *ngIf="auth$ | async as auth">
    <ng-container *ngIf="!auth.loading">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle menu do usuário">
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="javascript://" (click)='signIn()' clrDropdownItem>Entrar</a>
          <a href="javascript://" (click)='register()' clrDropdownItem>Registrar</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <clr-dropdown *ngIf="auth.authenticated">
        <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
          {{auth.out.login}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a (click)="signOut()" clrDropdownItem>Sair</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </ng-container>

    <ng-container *ngIf="auth.loading">
      <span class="nav-link nav-icon-text">
        <span class="spinner spinner-inline spinner-inverse">
          Carregando...
        </span>
      </span>
    </ng-container>
  </div>
</header>

<lei-login-modal #loginModal></lei-login-modal>
<lei-register-modal #registerModal></lei-register-modal>