<ng-container *ngIf="auction$ | async as auctionState">
  <clr-modal [(clrModalOpen)]="modalIsOpen" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">{{editing ? 'Editar' : 'Novo' }} leilão</h3>

    <div class="modal-body">
      <span class="spinner spinner-inline" *ngIf="auctionState.loading">
        Carregando...
      </span>
      <form clrForm [formGroup]="formGroup" #form="ngForm" (ngSubmit)="onSubmit($event)">
        <ng-container *ngIf="!auctionState.loading">
          <clr-input-container>
            <label>Nome</label>
            <input clrInput type="text" formControlName="name" required />
            <clr-control-error>Deve possuir entre 2 e 50 caracteres</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>Valor inicial</label>
            <input clrInput type="number" formControlName="initialValue" required />
            <clr-control-error>Deve possuir no máximo 10 digitos e 2 casas decimais</clr-control-error>
          </clr-input-container>

          <clr-date-container>
            <label>Data de abertura</label>
            <input type="date" [(clrDate)]="startDate" formControlName="openDate" required>
          </clr-date-container>

          <clr-date-container *ngIf="editing">
            <label>Data de finalização</label>
            <input type="date" [(clrDate)]="endDate" formControlName="endDate"
              [min]="moment(startDate).format('yyyy-MM-DD')" [disabled]="startDate == null">
          </clr-date-container>

          <clr-checkbox-container>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox value="true" formControlName="used" />
              <label>Usado</label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>

          <clr-control-container>
            <div class='info'>
              <span *ngIf="auctionState.error != null" class="clr-error">
                <clr-control-error>{{treatError(auctionState.error)}}</clr-control-error>
              </span>
            </div>
          </clr-control-container>
        </ng-container>
      </form>
    </div>
    <div class="modal-footer" *ngIf="!auctionState.loading">
      <button type="button" class="btn btn-danger" (click)="remove()" *ngIf="editing" [disabled]="auctionState.saving">Deletar</button>
      <button type="button" class="btn btn-outline" (click)="modalIsOpen = false">Cancelar</button>
      <ng-container *ngIf="auction$ | async as auctionState">
        <button *ngIf="auctionState.saving" type="button" class="btn btn-primary" disabled><span
            class="spinner spinner-inline">
            Carregando...
          </span></button>
        <button type="button" class="btn btn-primary" *ngIf="!auctionState.saving"
          (click)="form.ngSubmit.emit()">Salvar</button>
      </ng-container>
    </div>
  </clr-modal>
</ng-container>